.NewToBuyContainer {
    position: absolute;
    width: 500px;
    z-index: 80;
    top: 30%;
    left: 40%;
    background-color: white;
}

.NewToBuyInfoDiv {
    width: 70%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.AddButton {
    outline: none;
    border: none;
    font-size: 20px;
    letter-spacing: 4px;
    width: 100px;
    padding: 10px 0;
    background-color: rgb(58, 134, 233);
    color: white;
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 5px;
}

.AddButton:hover {
    cursor: pointer;
}